<?x

ml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="practise">

	<parameter name="username"
		value="sagarsonawane1991@gmail.com" />
	<parameter name="password" value="Kms60$" />

	<listeners>
		<listener class-name="pack2.Failureoperation" />
	</listeners>


	<test name="smoketest">

		<classes>
			<class name="pack2.Failureoperation"></class>
			<class name="Smoke.FunctionalTests"></class>
		</classes>

	</test>

	<!-- Test -->
</suite> <!-- Suite -->





